---
interface Props {
    title: string;
    description: string;
    repo: string;
    link: string;
    img: string;
    tech: string[];
}

const { title, description, repo, link, img, tech } = Astro.props;
const rutaImg = "icons/";
---

<div class="col-12 col-sm-4">
    <div
        class="content"
        style="background-color: #60a0ff41; border: 1px solid #60a0ff41; border-radius: 5px; padding: 5px; height: 100%;"
    >
        <img
            src={img}
            class="d-none d-md-block"
            style="border-radius: 5px; width: 100%; aspect-ratio: 16/8;"
            alt="Imagen del proyecto"
        />
        <div class="info">
            <div
                style="display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: start;"
            >
                <h5 class="fs-4">{title}</h5>
                <label>
                    {description}
                </label>
                <div id="techContainer">
                    {
                        tech.map((imgUrl) => {
                            return (
                                <img
                                    src={`${rutaImg}${imgUrl}.svg`}
                                    style="width: 30px;"
                                    title={imgUrl.toLocaleUpperCase()}
                                    alt="Tecnologia utilizada en el proyecto"
                                />
                            );
                        })
                    }
                </div>
            </div>
            <div
                style="display: flex; flex-direction: column; flex-wrap:wrap; align-content: end; gap: 5px;"
            >
                <a target="_blank" href={repo} class="btn"
                    ><i class="bi bi-github"></i></a
                >
                <a target="_blank" href={link} class="btn"
                    ><i class="bi bi-globe2"></i></a
                >
            </div>
        </div>
    </div>
</div>

<style>

    .info {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #techContainer {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 0.5rem;
    }

    @media only screen and (max-width: 600px) {
        .content {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }

        .info {
            align-items: center;
            gap: 55px;
        }

        #techContainer img {
            width: 15px;
        }
    }

    .btn {
        background-color: #609fff;
        color: white;
        font-size: larger;
    }

    .btn:hover {
        background-color: #0066ff;
    }
</style>
