---
import angular from "../assets/icons/angular.svg";
import bootstrap from "../assets/icons/bootstrap.svg";
import css from "../assets/icons/css.svg";
import django from "../assets/icons/django.svg";
import html from "../assets/icons/html.svg";
import ionic from "../assets/icons/ionic.svg";
import java from "../assets/icons/java.svg";
import javascript from "../assets/icons/javascript.svg";
import mysql from "../assets/icons/mysql.svg";
import php from "../assets/icons/php.svg";
import python from "../assets/icons/python.svg";
import react from "../assets/icons/react.svg";
import sap from "../assets/icons/sap.svg";
import sqlite from "../assets/icons/sqlite.svg";
import typescript from "../assets/icons/typescript.svg";
---

<section>
  <h5>Front-End</h5>
  <div class="d-flex flex-row flex-wrap gap-3" style="margin-bottom: 2rem;">
    <img src={html.src} alt="imgn del logo de html" style={"width: 40px"} />
    <img src={css.src} alt="imgn del logo de css" style={"width: 40px"} />
    <img
      src={javascript.src}
      alt="imgn del logo de javascript"
      style={"width: 40px"}
    />
    <img
      src={typescript.src}
      alt="imgn del logo de typescript"
      style={"width: 40px"}
    />
    <img
      src={bootstrap.src}
      alt="imgn del logo de bootstrap"
      style={"width: 40px"}
    />
    <img src={ionic.src} alt="imgn del logo de ionic" style={"width: 40px"} />
    <img
      src={angular.src}
      alt="imgn del logo de angular"
      style={"width: 40px"}
    />
    <img src={react.src} alt="imgn del logo de react" style={"width: 40px"} />
  </div>
  <h5>Back-End</h5>
  <div class="d-flex flex-row flex-wrap gap-3">
    <img src={java.src} alt="imgn del logo de java" style={"width: 40px"} />
    <img src={php.src} alt="imgn del logo de php" style={"width: 40px"} />
    <img src={python.src} alt="imgn del logo de python" style={"width: 40px"} />
    <img src={django.src} alt="imgn del logo de django" style={"width: 40px"} />
    <img src={mysql.src} alt="imgn del logo de mysql" style={"width: 40px"} />
    <img src={sqlite.src} alt="imgn del logo de sqlite" style={"width: 40px"} />
    <img src={sap.src} alt="imgn del logo de sap" style={"width: 40px"} />
  </div>
</section>

<style>
  section {
    padding-left: 25%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media only screen and (max-width: 600px) {
    section {
      padding-left: 5%;
      padding-right: 5%;
      justify-content: start;
    }
  }
</style>
