---
interface Props {
  businessName: string;
  link: string;
  date: string;
  place: string;
  description: string;
  side: string;
}

const { businessName, link, date, place, description, side } = Astro.props;
---

<li>
  <div class="timeline-middle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-briefcase-fill d-none d-md-block"
      viewBox="0 0 16 16"
    >
      <path
        d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5"
      ></path>
      <path
        d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85z"
      ></path>
    </svg>
  </div>
  <div class={side}>
    <time class="font-mono italic">{date}</time>
    <div class="text-lg font-black">
      <a href={link} target="_blank" id="businessName"
        >{businessName}
        <i class="bi bi-box-arrow-up-right" style="font-size: small;"></i></a
      >
    </div>
    <div class="font-semibold mb-2">{place}</div>
    <div class="description">{description}</div>
  </div>
  <hr />
</li>

<style>
  #experience {
    max-width: 70%;
  }

  li {
    list-style: none;
  }

  a {
    color: #609fff;
    text-decoration: none;
  }

  #businessName:hover {
    text-decoration: underline;
  }

  .description {
    white-space: pre-line;
  }

  hr {
    background-color: #609fff;
  }

  @media only screen and (max-width: 600px) {
    #experience {
      max-width: 100%;
    }
  }
</style>
